*{
    margin: 0;
    padding: 0;
}

#mainContent{
    max-width: 980px;
    margin: 30px auto;
}

header h2{
    font-family: fantasy;
    text-align: center;
    font-size: 2.4em;
    padding: 20px 0px;
    font-weight: normal;
    text-transform: uppercase;
}

/*gallery*/
#wrapBoxGallery{
    text-align: center;
}

#mainContent .picItem {
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
#mainContent .picItem img{
    border: 3px solid transparent;
}
#mainContent .picItem:hover img{
    border: 3px solid #830909;
    filter: grayscale(0.9) brightness(1.2);
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
    -moz-transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}
#mainContent .picItem img{
    width: 100%;
}

/*footer*/
footer{
    clear: both;
    text-align: center;
    padding: 5px 0px;
}

/*responsive*/
@media screen and (max-width: 768px) {
    #mainContent .picItem {
        width: 33.333%;
    }
}

@media screen and (max-width: 480px) {
    #mainContent .picItem {
        width: 50%;
    }
}